<div class="page-head container">
    <div class="col-lg-3">
        @Html.Partial("NavigationBar")
    </div>
    <h2 class="col col-lg-9">
        <span class="form-inline">
            <span data-bind="text: Amount().formatMoney()"></span> -
            <!-- ko if: $root.IsEdit() -->
            <span class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                <input type="text" class="form-control" data-bind="value: Description, attr: {tabindex: window.App.GlobalId.Next()}" placeholder="Поясни суть">,
            </span>
            <!-- /ko -->
            <!-- ko if: !$root.IsEdit() -->
            <span data-bind="text: (Description() || '')"></span>,
            <!-- /ko -->
            <!-- ko if: $root.IsEdit() -->
            <span class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input type="text" class="form-control date-input" data-bind="value: Date, attr: {tabindex: window.App.GlobalId.Next()}" placeholder="Укажи дату">
            </span>
            <!-- /ko -->
            <!-- ko if: !$root.IsEdit() -->
            <span data-bind="text: Date().formatDate()"></span>
            <!-- /ko -->
        </span>
        <!-- ko if: !$root.IsEdit() -->
        <a class="btn btn-primary" data-bind="attr: {href: '#/Session/' + Session.Id + '/Action/Edit/' + Id}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-primary" data-bind="ifConfirmed: Delete,
                                    cdTitle: 'Удаление постановы', cdMessage: 'Вы уверены, что ходите удалить постанову \'' + Description() + '\'?'"><span class="glyphicon glyphicon-trash"></span></a>
        <!-- /ko -->
    </h2>
</div>
