<script type="text/html" id="debts-template">
    <div class="debts jumbotron is-preview">
        <div>
            @Html.Partial("DebtsHeader")
            <h4>Долговая яма:</h4>
            <table>
                <tbody data-bind="foreach: Debts">
                <tr class="debt-block">
                    <td class="wide-cell" data-bind="text: Debtor, click: function() { IsExpanded(!IsExpanded()); }"></td>
                    <td class="money-cell" data-bind="click: function() { IsExpanded(!IsExpanded()); }">
                        <span class="" data-bind="text: Amount.formatMoney()"></span>
                        <i class="glyphicon text-success glyphicon-arrow-right"></i>
                    </td>
                    <td class="wide-cell text-right" data-bind="text: Creditor, click: function() { IsExpanded(!IsExpanded()); }"></td>
                    <td class="actions-cell">
                        <a class="btn btn-sm btn-primary" data-bind="ifConfirmed: $parent.PayOff,
                           cdTitle: 'Погасить долг', cdMessage: 'Будет создана постанова для полного погашения долга между ' + Creditor + ' и ' + Debtor">Погасить</a>
                    </td>
                </tr>
                <!-- ko if: IsExpanded -->
                <tr>
                    <td colspan="3" class="debt-details-block">
                        <table>
                            <tbody data-bind="foreach: Transactions">
                            <tr>
                                <td class="money-cell">
                                    <span class="" data-bind="text: Math.abs(Amount).formatMoney()"></span>
                                    <!-- ko if: Amount > 0 -->
                                    <span><i class="glyphicon text-success glyphicon-arrow-right"></i></span>
                                    <!-- /ko -->
                                    <!-- ko if: Amount < 0 -->
                                    <span><i class="glyphicon text-danger glyphicon-arrow-left"></i></span>
                                    <!-- /ko -->
                                </td>
                                <td class="wide-cell" data-bind="text: Action"></td>
                                <td data-bind="text: Date.formatDate()"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</script>