<script type="text/html" id="action-edit-template">
    <div class="action-edit">
        <form class="form-horizontal">
            <fieldset>
                <legend data-bind="text: Amount() + '₽' + ' - ' + Description()"></legend>
                <div class="form-group is-empty">
                    <label for="inputDescription" class="col-md-2 control-label">Суть</label>
                    <div>
                        <input type="text" class="form-control" id="inputDescription" data-bind="value: Description" placeholder="опиши суть">
                    </div>
                </div>
                <div class="form-group is-empty">
                    <label for="inputDate" class="col-md-2 control-label">Дата</label>
                    <div>
                        <input type="datetime" class="form-control" id="inputDate" data-bind="value: Date" placeholder="укажи дату">
                    </div>
                </div>

                <h3>Заплатили:</h3>
                <!-- ko foreach: Payers -->
                <div class="form-group is-empty">
                    <div>
                        <select class="form-control" data-bind="options: $parent.Session.Participants, 
                                optionsText: 'Name', optionsValue: 'Id', value: ParticipantId"></select>
                    </div>
                </div>
                <div class="form-group is-empty">
                    <div>
                        <input type="number" class="form-control" data-bind="value: Amount" placeholder="сколько заплатил?">
                    </div>
                </div>
                <!-- /ko -->

                <div>
                    <div class="acton-details-block">
                        <a class="btn btn-raised btn-info" data-bind="click: Save">Сохранить</a>
                    </div>
                    <div class="acton-details-block">
                        <a class="btn btn-raised btn-danger" data-bind="click: Delete">Удалить</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</script>
