<div class="page-head container">
    <div class="col-lg-4">
        @Html.Partial("NavigationBar")
    </div>
    <h2 class="col col-lg-8 form-inline">
        <!-- ko if: $root.IsEdit() -->
        <span class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
            <input type="text" class="form-control" data-bind="value: Name" placeholder="Что обсуждаем?">
        </span>
        <!-- /ko -->
        <!-- ko if: !$root.IsEdit() -->
        <span data-bind="text: (Name() || '')"></span>
        <!-- /ko -->
        <!-- ko if: !$root.IsEdit() -->
        <a class="btn btn-primary" data-bind="attr: {href: '#/Session/Edit/' + Id}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-primary" data-bind="ifConfirmed: Delete,
                                    cdTitle: 'Удаление тёрки', cdMessage: 'Вы уверены, что ходите удалить тёрку \'' + Name() + '\'?'"><span class="glyphicon glyphicon-trash"></span></a>
        <!-- /ko -->
    </h2>
</div>