<script type="text/html" id="sessions-template">
    <div class="sessions">
        <table class="">
            <tbody data-bind="foreach: Sessions">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td><a class="btn btn-raised btn-success" data-bind="attr: {href: '#/Session/' + Id}">Просмотр</a></td>
                    <td><a class="btn btn-raised btn-danger" data-bind="click: Delete">Удалить</a></td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-raised btn-info" data-bind="attr: {href: '#/Session/Add'}">Начать тёрку</a>
    </div>
</script>
