<script type="text/html" id="session-template">
    <div class="session jumbotron container" data-bind="css: {'is-edit': $root.IsEdit(), 'is-preview': !$root.IsEdit()}">
        <a class="btn btn-primary btn-sm navigation-back" data-bind="attr: {href: (IsEdit() && Id) ? '#/Session/' + Id : '#/Sessions'}">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        <div>
            <h2 class="text-center">
                <span data-bind="text: Name() || 'Без названия'"></span>
                <!-- ko if: !$root.IsEdit() -->
                <a class="btn btn-primary" data-bind="attr: {href: '#/Session/Edit/' + Id}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-primary" data-bind="click: Delete"><span class="glyphicon glyphicon-trash"></span></a>
                <!-- /ko -->
            </h2>
            <!-- ko if: $root.IsEdit() -->
            <div class="form-group">
                <label class="control-label">Название тёрки</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                    <div>
                        <input type="text" class="form-control" data-bind="value: Name" placeholder="Что обсуждаем?">
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <h4>Собаки:</h4>
            <span data-bind="if: !Participants().length">Собак нет</span>
            <table class="table">
                <thead data-bind="if: Participants().length">
                <tr>
                    <th class="wide-cell">Имя</th>
                    <!-- ko if: !$root.IsEdit() -->
                    <th class="money-cell">Баланс</th>
                    <!-- /ko -->
                    <th class="actions-cell"></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: Participants-->
                <tr>
                    <td class="wide-cell">
                        <!-- ko if: $root.IsEdit() -->
                        <input type="text" class="form-control" data-bind="value: Name" placeholder="Погоняло есть?">
                        <!-- /ko -->
                        <!-- ko if: !$root.IsEdit() -->
                        <span data-bind="text: Name"></span>
                        <!-- /ko -->
                    </td>
                    <!-- ko if: !$root.IsEdit() -->
                    <td class="money-cell" data-bind="text: Balance().formatMoney()"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.IsEdit() -->
                    <td class="actions-cell"><button type="button" class="btn btn-primary" data-bind="click: $parent.DeleteParticipant"><span class="glyphicon glyphicon-trash"></span></button></td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
                <!-- ko if: $root.IsEdit() -->
                <tr>
                    <td class="actions-cell">
                        <button type="button" class="btn btn-primary" data-bind="click: AddParticipant">
                            <span><span class="glyphicon glyphicon-plus"></span> Добавить</span>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>

            <!-- ko if: $root.IsEdit() -->
            <h4>Теги:</h4>
            <span data-bind="if: !Tags().length">Тегов нет</span>
            <table class="table">
                <thead data-bind="if: Tags().length">
                <tr>
                    <th class="wide-cell">Название</th>
                    <th class="wide-cell">Цвет</th>
                    <th class="actions-cell"></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: Tags -->
                <tr>
                    <td class="wide-cell">
                        <input type="text" class="form-control" data-bind="value: Name" placeholder="Название">
                    </td>
                    <td class="wide-cell">
                        <input type="text" class="form-control" data-bind="value: Color" placeholder="Цвет">
                    </td>
                    <td class="actions-cell"><button type="button" class="btn btn-primary" data-bind="click: $parent.DeleteTag"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td class="actions-cell">
                        <button type="button" class="btn btn-primary" data-bind="click: AddTag">
                            <span><span class="glyphicon glyphicon-plus"></span> Добавить</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- /ko -->

            <!-- ko if: !$root.IsEdit() -->
            <a class="btn btn-primary" data-bind="attr: {href: '#/Session/' + Id + '/Action/Create'}"><span class="glyphicon glyphicon-plus"></span> Внести постанову</a>
            <a class="btn btn-primary" data-bind="attr: {href: '#/Session/' + Id + '/Debts'}"><span class="glyphicon glyphicon-random"></span>  Пояснить за долги</a>
            <!-- /ko -->
            <!-- ko if: $root.IsEdit() -->
            <button type="submit" class="btn btn-primary btn-raised" data-bind="click: Save"><span class="glyphicon glyphicon-floppy-save"></span> Сохранить тёрку</button>
            <a class="btn btn-primary" data-bind="attr: {href: Id > 0 ? '#/Session/' + Id : '#/Sessions'}">Отмена</a>
            <!-- /ko -->


            <!-- ko if: !$root.IsEdit() -->
            <h4>Постановы:</h4>
            <div data-bind="if: Actions.IsLoading()">Загрузка . . .</div>
            <!-- ko if: !Actions.IsLoading() -->
            <div data-bind="with: Actions">
                <!-- ko if: TotalPages() > 1 -->
                <div style="text-align: right; margin-bottom: 10px;">
                    Страница:
                    <!-- ko if: Page() >= 3 -->
                    <a data-bind="click: function() { LoadPage(1); }, clickBubble: false">1</a>
                    <span data-bind="if: Page() != 3"> . . . </span>
                    <!-- /ko -->
                    <!-- ko if: Page() - 10 > 2 -->
                    <a data-bind="text: Page() - 10, click: function() { LoadPage(Page() - 10); }, clickBubble: false"></a>
                    <span> . . . </span>
                    <!-- /ko -->
                    <!-- ko if: Page() - 100 > 2 -->
                    <a data-bind="text: Page() - 100, click: function() { LoadPage(Page() - 100); }, clickBubble: false"></a>
                    <span> . . . </span>
                    <!-- /ko -->
                    <a data-bind="text: Page() - 1, visible: Page() > 1, click: function() { LoadPage(Page() - 1); }, clickBubble: false"></a>
                    <span data-bind="text: Page()"></span>
                    <a data-bind="text: Page() + 1, visible: Page() < TotalPages(), click: function() { LoadPage(Page() + 1); }, clickBubble: false"></a>
                    <!-- ko if: Page() + 10 < TotalPages() - 1 -->
                    <span> . . . </span>
                    <a data-bind="text: Page() + 10, click: function() { LoadPage(Page() + 10); }, clickBubble: false"></a>
                    <!-- /ko -->
                    <!-- ko if: Page() + 100 < TotalPages() - 1 -->
                    <span> . . . </span>
                    <a data-bind="text: Page() + 100, click: function() { LoadPage(Page() + 100); }, clickBubble: false"></a>
                    <!-- /ko -->
                    <!-- ko if: Page() <= TotalPages() - 2 -->
                    <span data-bind="if: Page() != TotalPages() - 2"> . . . </span>
                    <a data-bind="text: TotalPages(), click: function() { LoadPage(TotalPages()); }, clickBubble: false"></a>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <span data-bind="if: !Rows().length">Пока всё тихо</span>
                <table class="table table-clickable" data-bind="if: Rows().length">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Суть</th>
                        <th>Спонсор(ы)</th>
                        <th>Сумма</th>
                        <th class="actions-cell"></th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: Rows">
                    <tr>
                        <td data-bind="text: Date().formatDate(),click: window.App.Functions.Move('#/Session/' + Session.Id + '/Action/' + Id)"></td>
                        <td data-bind="text: Description(),click: window.App.Functions.Move('#/Session/' + Session.Id + '/Action/' + Id)"></td>
                        <td data-bind="text: PayerNames(),click: window.App.Functions.Move('#/Session/' + Session.Id + '/Action/' + Id)"></td>
                        <td data-bind="text: Amount().formatMoney(),click: window.App.Functions.Move('#/Session/' + Session.Id + '/Action/' + Id)"></td>
                        <td class="actions-cell">
                            <a class="btn btn-primary" data-bind="attr: {href: '#/Session/' + Session.Id + '/Action/Edit/' + Id}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-primary" data-bind="click: Delete"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</script>
