<div id="main">
    <div class="jumbotron text-center">
        Who let the dogs out?!
    </div>
</div>
<div id="loading-screen" class="modal" style="display: none">
    <div class="text-center loading-screen-content">
        <img src='@Url.Content("~/img/runningdog_transparent.gif")' alt="Загрузка . . .">
    </div>
    <div class="modal-backdrop"></div>
</div>