body {
  padding-bottom: 20px;
  padding-top: 50px;
}
body .container {
  padding-left: 0;
  padding-right: 0;
}
body .container .jumbotron {
  padding: 30px 45px 30px 35px;
}
body .container .jumbotron > div {
  overflow-x: auto;
  overflow-y: visible;
}
#loading-screen .loading-screen-content {
  height: 64px;
  left: 50%;
  margin-left: -64px;
  margin-top: -32px;
  position: fixed;
  top: 40%;
  width: 128px;
  z-index: 1050;
}
#loading-screen .loading-screen-content img {
  background-color: transparent;
  width: 128px;
}
.loading-screen-small img {
  background-color: transparent;
  width: 64px;
}
.navbar {
  z-index: 999;
  min-height: initial;
}
.navbar .navbar-header {
  float: none;
  border-bottom: 1px solid darkslategray;
}
.navbar .navbar-header .navbar-brand {
  padding: 5px;
  height: auto;
  margin-left: 10%;
}
.navbar .navbar-header .navbar-brand img {
  display: inline-block;
  margin-right: 10px;
  width: 28px;
}
input {
  max-width: 280px;
}
select {
  max-width: 280px;
}
textarea {
  max-width: 280px;
}
a {
  cursor: pointer;
}
footer {
  text-align: center;
}
#main {
  margin-top: 5px;
}
.page-head.container {
  margin: 0 0 10px 0;
  padding: 0;
}
.page-head.container label {
  margin-right: 15px;
}
.breadcrumb.breadcrumb-default {
  background: none;
  margin: 0;
}
div.jumbotron h2 {
  margin-top: 0;
}
div.jumbotron .form-group {
  margin: 0;
}
table > tbody > tr > td.row-details {
  padding: 10px 25px;
}
div.inline-block {
  display: inline-block;
  margin-right: 20px;
}
.sticky-table-head {
  color: #eeeeee;
  display: inline-flex;
  height: 0;
  text-transform: uppercase;
}
.sticky-table-foot {
  color: #eeeeee;
  display: inline-flex;
  height: 0;
  text-transform: uppercase;
}
.sticky-table-head > div {
  background-color: #00b9a8;
  display: inline-block;
  padding: 8px;
}
.sticky-table-foot > div {
  background-color: #00b9a8;
  display: inline-block;
  padding: 8px;
}
.consumer-header {
  color: #00b9a8;
  cursor: pointer;
}
.really-wide-cell {
  width: 450px;
}
table > tbody > tr > td.really-wide-cell input {
  width: 450px;
}
.wide-cell {
  width: 250px;
}
table > tbody > tr > td.wide-cell input {
  width: 250px;
}
.small-cell {
  text-align: center;
  width: 30px;
}
table > tbody > tr > td.small-cell input {
  text-align: center;
  width: 30px;
}
.money-cell {
  text-align: right;
  width: 120px;
}
table > tbody > tr > td.money-cell input {
  text-align: right;
  width: 120px;
}
td.money-cell .input-group-addon {
  margin: 0;
  padding: 0 2px;
}
table.table > tr > td {
  padding: 2px 8px;
}
table.table > tbody > tr > td .form-group {
  padding-bottom: 0;
}
table.table > tbody > tr > td .form-group .form-control {
  display: table-cell;
  margin-bottom: 0;
}
table.table > tbody > tr > td:not(.actions-cell) {
  border: 1px solid #dddddd;
  vertical-align: middle;
}
table > thead > tr > th.delete-row-cell {
  width: 30px;
}
table > tbody > tr > td .checkbox {
  padding-top: 0;
}
table.table > tfoot > tr,
table.table > thead > tr,
.sticky-table-head,
.sticky-table-foot {
  font-weight: bold;
}
table.table > tfoot > tr > td {
  border: none !important;
}
table.table > thead > tr > th {
  border: none !important;
}
table.table > tbody > tr > td.actions-cell {
  border: none;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
table.table td.actions-cell .btn {
  margin: 0;
  padding: 8px;
}
table.table th.actions-cell .btn {
  margin: 0;
  padding: 8px;
}
table.table td input {
  width: 90px;
}
table.table td span.form-control {
  width: 90px;
}
h2 .btn {
  margin: 0;
  padding: 8px;
}
table.table > tfoot td.actions-cell .btn {
  margin: 0 3px;
}
.is-preview .table.table-clickable > tbody tr:hover td:not(.actions-cell) {
  background-color: #f5f5f5;
}
.is-preview .table.table-clickable > tbody > tr > td:not(.actions-cell) {
  cursor: pointer;
}
.navigation-back {
  position: absolute !important;
}
.datepicker table tr td.active.active {
  background-color: #009688 !important;
  border-color: #009688 !important;
}
.datepicker span.active {
  background-color: #009688 !important;
  border-color: #009688 !important;
}
.pages {
  padding: 10px 65px 10px 0;
  text-align: right;
}
.debt-block td {
  background-color: #fdfbfb;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  cursor: pointer;
  padding: 3px 10px;
}
.debt-block td.actions-cell {
  padding: 0;
}
.debt-block .actions-cell .btn {
  font-size: smaller;
  margin: 0;
  padding-top: 5px;
}
.debt-block:hover td {
  background-color: #f5f5f5;
}
.debt-details-block {
  cursor: pointer;
  padding-left: 20px;
}
.debt-details-block td {
  padding: 3px 10px;
}
.debt-details-block tr:hover {
  background-color: #f5f5f5;
}
.modal-dialog .modal-content .modal-footer {
  padding-bottom: 13px;
}
.snackbar.warning {
  background-color: #f44336;
}
.mobile {
  min-width: 400px;
}
.mobile .btn {
  margin: 3px;
}
.mobile .checkbox {
  display: inline-block;
}
.mobile .jumbotron {
  padding: 30px 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.mobile .page-head a.btn {
  font-size: 22px;
  padding: 5px 45px;
  display: inline-block;
  margin-top: 15px;
}
.mobile .page-head .page-name {
  display: block;
  margin-top: 15px;
}
.mobile .page-head .breadcrumb.breadcrumb-default {
  font-size: 18px;
  padding-left: 0;
}
.mobile .pages {
  padding: 10px 0 10px 0;
  font-size: 22px;
}
.mobile .item-block {
  border-radius: 8px;
  margin: 15px 5px 5px 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 96, 99, 0.8);
}
.mobile .item-block .actions {
  float: right;
  border-radius: 0 8px 8px 0;
}
.mobile .item-block .actions button,
.mobile .item-block .actions a {
  padding: 4px 30px 1px 30px;
  margin: 0;
  color: whitesmoke;
  background: #009688;
  border-radius: 1px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
}
.mobile .item-block .actions button:nth-child(1),
.mobile .item-block .actions a:nth-child(1) {
  border-bottom-left-radius: 15px;
}
.mobile .item-block .actions button:nth-last-child(1),
.mobile .item-block .actions a:nth-last-child(1) {
  border-top-right-radius: 5px;
}
.mobile .item-block .content {
  padding: 20px 40px;
}
.mobile .item-block .content .description-block {
  display: inline-block;
}
.mobile .item-block .content .amount-block {
  display: inline-block;
  margin-right: 35px;
}
.mobile .item-block .content .date-block {
  display: inline-block;
  margin-right: 35px;
}
.mobile .item-block input,
.mobile .item-block select {
  width: 200px;
}
.mobile .item-block label {
  margin-right: 15px;
}
.mobile.action .item-block .payer-block {
  display: inline-block;
  margin-right: 35px;
}
.mobile.action .item-block .payer-block .form-group {
  margin-right: 25px;
}
.mobile.action .consumers-lable {
  margin-top: 5px;
}
.mobile.action .consumer-sum-edit-span {
  margin-right: 25px;
  display: inline-block;
}
.mobile.action .consumer-sum-span {
  margin-right: 25px;
  display: inline-block;
}
.mobile.action .totals-block {
  margin-top: 20px;
}
.mobile.action .totals-block > div {
  margin-left: 20px;
}
.mobile.action .sponsors-block {
  margin-top: 20px;
}
.mobile .confirm-buttons {
  margin-top: 20px;
}