body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    cursor: pointer;
}

footer {
    text-align: center;
}

#main {
    margin-top: 25px;
}

table>tbody>tr>td.row-details {
    padding: 10px 25px;
}

div.inline-block {
    display: inline-block;
    margin-right: 20px;
}

table>thead>tr>th.big-textarea-cell {
    width: 230px;
}

table>thead>tr>th.delete-row-cell {
    width: 30px;
}

div.jumbotron .form-group {
    margin: 0;
}
table>tbody>tr>td .checkbox {
    padding-top: 0;
}

table.table td {
    border: 1px solid #ddd;
}
table.table tr:hover td {
    background-color: #f5f5f5;
}

table.table td.actions-cell, table.table th.actions-cell {
    border: none;
    text-align: left;
    padding: 0;
    background: initial !important;
    cursor: inherit;
}
table.table td.actions-cell .btn, table.table th.actions-cell .btn, h2 .btn {
    padding: 8px;
}
table.table td input.form-control {
    width: 70px;
}

table.table.table-clickable {
    cursor: pointer;
}
div.jumbotron {
    padding: 10px 25px;
    width: 1170px;
}
div.jumbotron>div {
    overflow-x: auto;
    overflow-y: visible;
}

.navigation-back {
    position: absolute !important;
}

.datepicker table tr td.active.active, .datepicker span.active {
    background-color: #009688 !important;
    border-color: #009688 !important;
}