<div class="page-head">
    <div class="col-lg-3">
        @await Html.PartialAsync("NavigationBar")
    </div>
    <h2 class="col col-lg-9">
        <span class="page-name">
            <!-- ko if: $root.IsEdit() -->
            <label>Название</label>
            <span class="input-group">
                <input type="text" class="form-control" data-bind="value: Description, attr: {tabindex: window.App.GlobalId.Next()}" placeholder="Что пилим?">
                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
            </span>
            <!-- /ko -->
            <!-- ko if: !$root.IsEdit() -->
            <span data-bind="text: (Description() || '')"></span>
            <!-- /ko -->
            <!-- ko if: $root.IsEdit() -->
            <label>Дата</label>
            <span class="input-group">
                <input type="text" class="form-control date-input" data-bind="value: Date, attr: {tabindex: window.App.GlobalId.Next()}" placeholder="Укажи дату">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </span>
            <!-- /ko -->
            <!-- ko if: !$root.IsEdit() -->
            <span data-bind="text: Date().formatDate()"></span>
            <!-- /ko -->
        </span>
        <!-- ko if: !$root.IsEdit() -->
        <a class="btn btn-primary" data-bind="attr: {href: '#/Session/' + Session.Id + '/Action/Edit/' + Id}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-primary" data-bind="ifConfirmed: Delete,
                                    cdTitle: 'Удаление чека', cdMessage: 'Вы уверены, что ходите удалить чек \'' + Description() + '\'?'"><span class="glyphicon glyphicon-trash"></span></a>
        <!-- /ko -->
    </h2>
</div>
