<script type="text/html" id="action-mobile-template">
    <div class="action mobile" data-bind="css: {'is-edit': $root.IsEdit(), 'is-preview': !$root.IsEdit()}">
        <div class="jumbotron">
            <div class="page-head">
                @await Html.PartialAsync("NavigationBar")
            </div>
            <div>
                <!-- ko if: !$root.IsEdit() -->
                <a class="btn btn-primary" data-bind="attr: {href: '#/Session/' + Session.Id + '/Action/Edit/' + Id}">
                    <span class="glyphicon glyphicon-pencil"></span> Редактировать
                </a>
                <a class="btn btn-primary" data-bind="ifConfirmed: Delete, cdTitle: 'Удаление чека', cdMessage: 'Вы уверены, что ходите удалить чек \'' + Description() + '\'?'">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                </a>
                <!-- /ko -->

                <div class="form-inline">
                    <!-- ko with: Consumptions()[0] -->
                    <div class="item-block">
                        <div class="content">
                            <div class="sum-block">
                                <label>Название:</label>
                                <!-- ko if: $root.IsEdit() -->
                                <span class="input-group">
                                    <input type="text" class="form-control" data-bind="value: $root.Description, attr: {tabindex: window.App.GlobalId.Next()}">
                                </span>
                                <!-- /ko -->
                                <!-- ko if: !$root.IsEdit() -->
                                <span data-bind="text: ($root.Description() || '')"></span>
                                <!-- /ko -->
                            </div>
                            <div class="sum-block">
                                <div class="amount-block">
                                    <label>Сумма:</label>
                                    <!-- ko if: $root.IsEdit() -->
                                    <div class="form-group">
                                        <input type="number" class="form-control" data-bind="money: Amount, attr: {tabindex: window.App.GlobalId.Next() + 10}" placeholder="Сумма">
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: !$root.IsEdit() -->
                                    <span data-bind="text: Amount().formatMoney()"></span>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="consumers-block">
                                <label>Делим на:</label>
                                <!-- ko foreach: Consumers -->
                                <!-- ko if: $root.IsEdit() || IsActive() -->
                                <span class="consumer-sum-edit-span">
                                    <!-- ko if: $root.IsEdit() -->
                                    <span class="checkbox">
                                        <label><input type="checkbox" data-bind="checked: IsActive" tabindex="-1" /></label>
                                    </span>
                                    <!-- /ko -->
                                    <span data-bind="text: ParticipantName + ': '"></span>
                                    <b data-bind="text: Amount().formatMoney()"></b>
                                </span>
                                <!-- /ko -->
                                <!-- /ko -->
                            </div>
                            <!-- ko if: !$root.IsEdit() -->
                            <div class="consumers-block">
                                <label>Платили:</label>
                                <!-- ko foreach: $root.Payers() -->
                                <span class="consumer-sum-edit-span">
                                    <span data-bind="text: $root.Session.GetParticipant(ParticipantId()).Name() + ': '"></span>
                                    <b data-bind="text: Amount().formatMoney()"></b>
                                </span>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->                                    
                        </div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: $root.IsEdit() -->
                    <div class="sponsors-block">
                        <p>Платили:</p>
                        <div data-bind="if: !Payers().length">Нет данных</div>
                        <!-- ko foreach: Payers -->
                        <div class="item-block">
                            <div class="actions">
                                <button type="button" class="btn btn-primary" data-bind="click: $parent.DeletePayer"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                            <div class="content">
                                <div class="payer-block">
                                    <label>Имя:</label>
                                    <span>
                                        <select class="form-control" data-bind="options: $parent.Session.Participants,
                                            optionsText: 'Name', optionsValue: 'Id', value: ParticipantId, attr: {tabindex: window.App.GlobalId.Next() + 1000}"></select>
                                    </span>
                                </div>
                                <div class="amount-block">
                                    <label>Сумма:</label>
                                    <input type="number" class="form-control" data-bind="money: Amount, attr: {tabindex: window.App.GlobalId.Next() + 1000}" placeholder="Сумма">
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $root.IsEdit() -->
                        <button type="button" class="btn btn-primary" data-bind="click: AddPayer">
                            <span class="glyphicon glyphicon-plus"></span> Добавить
                        </button>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->

                    <div class="confirm-buttons">
                        <!-- ko if: $root.IsEdit() -->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-raised" data-bind="click: Save">
                                <span class="glyphicon glyphicon-floppy-save"></span> Сохранить
                            </button>
                            <button type="button" class="btn btn-primary" data-bind="ifConfirmed: window.App.Functions.Move(Navigation.Back().Url),
                            cdTitle: 'Отмена изменений', cdMessage: 'Изменения не будут сохранены. Вы уверены, что хотите покинуть страницу?' ">
                                Отмена
                            </button>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
