<script type="text/html" id="debts-mobile-template">
    <div class="debts mobile is-preview">
        <div class="jumbotron">
            @await Html.PartialAsync("DebtsHeader")
            <div class="totals-block" data-bind="if: Balances.length">
                <h4>Балансы:</h4>
                <div>
                    <!-- ko foreach: Balances -->
                    <!-- ko if: Balance -->
                    <span class="balance-span">
                        <span data-bind="text: Name + ': '"></span>
                        <span data-bind="text: Balance.formatMoney(), css:{'text-danger':Balance < 0, 'text-success':Balance > 0}"></span>
                    </span>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>

            <h4>Долговая яма:</h4>
            <!-- ko foreach: Debts -->
            <div class="item-block" data-bind="ifConfirmed: $parent.PayOff, cdTitle: 'Погасить долг', cdMessage: 'Будет создан чек для полного погашения долга между ' + Creditor + ' и ' + Debtor">
                <div class="content">
                    <div class="description-block">
                        <b data-bind="text: Debtor"></b>
                        <span class="" data-bind="text: Amount.formatMoney()"></span>
                        <i class="glyphicon text-success glyphicon-arrow-right"></i>
                        <b data-bind="text: Creditor"></b>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</script>
