<script type="text/html" id="session-edit-template">
    <div class="session jumbotron" data-bind="css: {'is-edit': $root.IsEdit(), 'is-preview': !$root.IsEdit()}">
        <div>
            @await Html.PartialAsync("SessionHeader")

            <p>Собаки:</p>
            <!-- ko foreach: Participants-->
            <div>
                <input type="text" class="form-control" data-bind="value: Name" placeholder="Погоняло есть?">
            </div>
            <!-- /ko -->
            <button type="button" class="btn btn-primary" data-bind="click: AddParticipant">
                <span><span class="glyphicon glyphicon-plus"></span> Добавить Собаку</span>
            </button>
            <button type="submit" class="btn btn-primary btn-raised" data-bind="click: Save"><span class="glyphicon glyphicon-floppy-save"></span> Сохранить тёрку</button>
        </div>
    </div>
</script>
