<ul class="breadcrumb breadcrumb-default" data-bind="with: Navigation">
    <!-- ko foreach: History -->
    <li>
        <a data-bind="attr: {href: Url}, text: Name"></a>
    </li>
    <!-- /ko -->
    <li class="active" data-bind="text: CurrentPlace"></li>
</ul>