<div class="page-head">
    @await Html.PartialAsync("NavigationBar")
    <h2 class="col col-lg-12">
        <!-- ko if: $root.IsEdit() -->
        <span class="input-group">
            <input type="text" class="form-control" data-bind="value: Name" placeholder="Что обсуждаем?">
        </span>
        <!-- /ko -->
        <!-- ko if: !$root.IsEdit() -->
        <span data-bind="text: (Name() || '')"></span>
        <!-- /ko -->
        <!-- ko if: !$root.IsEdit() -->
        <a class="btn btn-primary" data-bind="attr: {href: '#/Session/Edit/' + Id}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-primary" data-bind="ifConfirmed: Delete,
                                    cdTitle: 'Удаление тёрки', cdMessage: 'Вы уверены, что ходите удалить тёрку \'' + Name() + '\'?'"><span class="glyphicon glyphicon-trash"></span></a>
        <!-- /ko -->
    </h2>
</div>
