<div id="main">
    <div class="jumbotron text-center">
        Who let the dogs out?!
    </div>
</div>
<div class="loading-screen" id="loading-screen" style="display: none">
    <img src='@Url.Content("../../Content/Runningdog.gif")' alt="Загрузка . . .">
</div>