<div id="main">
    <div class="jumbotron">
        <div>Загрузка . . .</div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" data-bind="text: Title"></h4>
                </div>
                <div class="modal-body">
                    <span data-bind="text: Message"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" data-bind="click: Submit">ОК</button>
                </div>
            </div>
        </div>
    </div>
</div>
