<div id="main">
    <div class="jumbotron text-center">
        <img src='@Url.Content("../../Content/Runningdog.gif")' alt="Загрузка . . .">
    </div>
</div>
<div class="jumbotron text-center" id="loading-screen" style="display: none">
    <img src='@Url.Content("../../Content/Runningdog.gif")' alt="Загрузка . . .">
</div>